*, *::after, *::before { box-sizing: border-box;}

body {
    background-color: palegreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html { font-size: 14px;}



img {max-width: 100%;}

/*reset de elementos*/
body, h1, h2, h3, p, figure {
    margin: 0;
    padding: 0;
}